<!--<p>footer works!</p>-->

<div class="footer">
    <div style="margin-right: 20px;">
        <ul style="list-style-type: none;">
            <li style="font-size: large; font-weight: bold; padding-bottom: 10px; cursor: default;">The Pokémon Company</li>
            <li style="padding-bottom: 2px;">
                <a href="#" style="text-decoration: none; color: white;">Notizie</a>
                </li>
            <li style="padding-bottom: 2px;">
                <a href="#" style="text-decoration: none; color: white;">Guida per i genitori</a>
            </li>
            <li style="padding-bottom: 2px;">
                <a href="#" style="text-decoration: none; color: white;">Servizio clienti</a>
            </li>
            <li style="padding-bottom: 2px;">
                <a href="#" style="text-decoration: none; color: white;">La nostra azienda</a>
            </li>
            <li style="padding-bottom: 2px;">
                <a href="#" style="text-decoration: none; color: white;">Seleziona un paese/regione</a>
            </li>
            <li style="padding-bottom: 2px;">
                <a href="#" style="text-decoration: none; color: white;">Sito stampa</a>
            </li>
        </ul>
    </div>

    <hr style="width: 0.2px; height: 160px; margin: 10px 0; border-radius: 40px; background: rgb(228, 224, 224); opacity: 0.75;">

    <div style="margin-right: 20px; margin-left: 10px;">
        <ul style="list-style-type: none; display: flex;">
            <li style="padding-right: 5px;">
                <a href="#"><img src="../../../assets/facebook.png" alt="Facebook share icon" width="30px"></a>
            </li>
            <li style="padding: 0px 5px;">
                <a href="#"><img src="../../../assets/youtube.png" alt="YouTube share icon" width="30px"></a>
            </li>
            <li style="padding: 0px 5px;">
                <a href="#"><img src="../../../assets/twitter.png" alt="Twitter share icon" width="30px"></a>
            </li>
            <li style="padding: 0px 5px;">
                <a href="#"><img src="../../../assets/instagram.png" alt="Instagram share icon" width="30px"></a>
            </li>
        </ul>
    </div>

    <hr style="width: 0.2px; height: 160px; margin: 10px 0; border-radius: 40px; background: rgb(228, 224, 224); opacity: 0.75;">

    <div>
        <img src="../../../assets/bbbnp_caru_coppa_safeharborkids.png" alt="Haru: Coppa Safe Harbor" style="padding-left: 40px; padding-top: 15px; margin-bottom: -8px; width: 150px;">
        <ul style="list-style-type: none;">
            <li style="padding-bottom: 2px;">
                <a href="#" style="text-decoration: none; color: white;">Termini di utilizzo</a>
            </li>
            <li style="padding-bottom: 2px;">
                <a href="#" style="text-decoration: none; color: white;">Informativa sulla privacy</a></li>
            <li style="padding-bottom: 2px;">
                <a href="#" style="text-decoration: none; color: white;">Pagina dei cookie</a>
            </li>
            <li style="padding-bottom: 2px;">
                <a href="#" style="text-decoration: none; color: white;">Informazioni legali</a>
            </li>
        </ul>
    </div>
</div>